In [172]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

In [173]:
data=pd.read_csv('loan_dataset_20000.csv')

In [174]:
data

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
0,59,Male,Married,Master's,24240.19,2020.02,Employed,0.074,743,17173.72,...,36,581.88,B5,7,40833.47,24302.07,1,0,1,1
1,72,Female,Married,Bachelor's,20172.98,1681.08,Employed,0.219,531,22663.89,...,60,573.17,F1,5,27968.01,10803.01,1,0,3,1
2,49,Female,Single,High School,26181.80,2181.82,Employed,0.234,779,3631.36,...,60,76.32,B4,2,15502.25,4505.44,0,0,0,1
3,35,Female,Single,High School,11873.84,989.49,Employed,0.264,809,14939.23,...,36,468.07,A5,7,18157.79,5525.63,4,0,5,1
4,63,Other,Single,Other,25326.44,2110.54,Employed,0.260,663,16551.71,...,60,395.50,D5,1,17467.56,3593.91,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,39,Female,Married,Bachelor's,39640.08,3303.34,Employed,0.275,691,16322.23,...,36,566.22,C5,2,23748.10,5801.45,1,0,4,0
19996,66,Female,Married,Bachelor's,32062.90,2671.91,Employed,0.367,758,16697.34,...,36,553.71,B5,8,49929.65,40901.31,3,0,3,1
19997,65,Female,Single,Master's,18642.02,1553.50,Student,0.106,751,23924.78,...,36,772.66,B4,3,13137.57,5075.67,1,0,2,1
19998,35,Male,Married,Master's,22181.39,1848.45,Retired,0.275,646,16920.13,...,36,595.36,D2,5,19580.82,3876.16,4,0,5,1
19999,36,Female,Married,Other,23737.70,1978.14,Employed,0.228,630,15769.75,...,36,531.88,D2,8,43013.59,12753.03,2,0,2,0

In [175]:
data.isnull().sum()

age                     0
gender                  0
marital_status          0
education_level         0
annual_income           0
monthly_income          0
employment_status       0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
loan_purpose            0
interest_rate           0
loan_term               0
installment             0
grade_subgrade          0
num_of_open_accounts    0
total_credit_limit      0
current_balance         0
delinquency_history     0
public_records          0
num_of_delinquencies    0
loan_paid_back          0
dtype: int64

In [176]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   20000 non-null  int64
 1   gender                20000 non-null  object
 2   marital_status        20000 non-null  object
 3   education_level       20000 non-null  object
 4   annual_income         20000 non-null  float64
 5   monthly_income        20000 non-null  float64
 6   employment_status     20000 non-null  object
 7   debt_to_income_ratio  20000 non-null  float64
 8   credit_score          20000 non-null  int64
 9   loan_amount           20000 non-null  float64
 10  loan_purpose          20000 non-null  object
 11  interest_rate         20000 non-null  float64
 12  loan_term             20000 non-null  int64
 13  installment           20000 non-null  float64
 14  grade_subgrade        20000 non-null  object
 15  num_of_open_accounts  20000 non-null  int64
 16  total_credit_limit    20000 non-null  float64
 17  current_balance       20000 non-null  float64
 18  delinquency_history   20000 non-null  int64
 19  public_records        20000 non-null  int64
 20  num_of_delinquencies  20000 non-null  int64
 21  loan_paid_back        20000 non-null  int64
dtypes: float64(8), int64(8), object(6)
memory usage: 3.4+ MB

In [177]:
data.drop(columns=['loan_purpose','interest_rate','loan_term','installment','grade_subgrade','num_of_open_accounts','total_credit_limit','current_balance'
                  ,'delinquency_history','public_records','loan_paid_back','num_of_delinquencies','debt_to_income_ratio'],inplace=True)

In [178]:
data

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,credit_score,loan_amount
0,59,Male,Married,Master's,24240.19,2020.02,Employed,743,17173.72
1,72,Female,Married,Bachelor's,20172.98,1681.08,Employed,531,22663.89
2,49,Female,Single,High School,26181.80,2181.82,Employed,779,3631.36
3,35,Female,Single,High School,11873.84,989.49,Employed,809,14939.23
4,63,Other,Single,Other,25326.44,2110.54,Employed,663,16551.71
...,...,...,...,...,...,...,...,...,...
19995,39,Female,Married,Bachelor's,39640.08,3303.34,Employed,691,16322.23
19996,66,Female,Married,Bachelor's,32062.90,2671.91,Employed,758,16697.34
19997,65,Female,Single,Master's,18642.02,1553.50,Student,751,23924.78
19998,35,Male,Married,Master's,22181.39,1848.45,Retired,646,16920.13
19999,36,Female,Married,Other,23737.70,1978.14,Employed,630,15769.75

In [179]:
x=data.iloc[:,:-1]

In [180]:
x

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,credit_score
0,59,Male,Married,Master's,24240.19,2020.02,Employed,743
1,72,Female,Married,Bachelor's,20172.98,1681.08,Employed,531
2,49,Female,Single,High School,26181.80,2181.82,Employed,779
3,35,Female,Single,High School,11873.84,989.49,Employed,809
4,63,Other,Single,Other,25326.44,2110.54,Employed,663
...,...,...,...,...,...,...,...,...
19995,39,Female,Married,Bachelor's,39640.08,3303.34,Employed,691
19996,66,Female,Married,Bachelor's,32062.90,2671.91,Employed,758
19997,65,Female,Single,Master's,18642.02,1553.50,Student,751
19998,35,Male,Married,Master's,22181.39,1848.45,Retired,646
19999,36,Female,Married,Other,23737.70,1978.14,Employed,630

In [181]:
y=data['loan_amount']

In [182]:
y

0        17173.72
1        22663.89
2         3631.36
3        14939.23
4        16551.71
           ...
19995    16322.23
19996    16697.34
19997    23924.78
19998    16920.13
19999    15769.75
Name: loan_amount, Length: 20000, dtype: float64

In [183]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [184]:
transformer=ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(sparse_output=False,drop='first'),['gender','marital_status','education_level','employment_status']
)],remainder='passthrough')

In [185]:
model=Pipeline(steps=[
    ('transformer',transformer),
    ('Lasso',Lasso(alpha=1.0,fit_intercept=True))
])

In [186]:
model.fit(x_train,y_train)

C:\Users\Chandrika.C\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['gender', 'marital_status',
                                                   'education_level',
                                                   'employment_status'])])),
                ('Lasso', Lasso())])

In [188]:
model.predict(x_test)

array([14965.70039997, 15224.03353971, 15241.28305517, ...,
       15144.69755467, 15314.8699365 , 14981.39873868])

In [189]:
model.score(x_train,y_train)*100,model.score(x_test,y_test)*100

(0.06289388226248249, 0.043438173079879405)